/* style.css - Custom Style Sheet Tambahan Website Kecamatan Makale */
/* PERBAIKAN: Menggunakan URL impor Google Fonts asli agar huruf terbaca normal */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* Kustomisasi scrollbar internal modal */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #991b1b;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #7f1d1d;
}
